{% extends "layouts.html" %}
{% block body %}
<div class="main-container">
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-warning h4">Writing Lists Board</h4>
            <p class="mb-30">Input Your Text</p>
        </div>
        </div>
    <form action = "/add_articles" method="POST" onsubmit = "return confirm('이대로 작성하시겠습니까?')">
        <div class="form-group">
            <label>TITLE</label>
            <input class="form-control" type="text" name = 'title' placeholder="Input Title"required>
        </div>
        <div class="form-group">
            <label>DESCRIPTION</label>
            <textarea class="form-control" name = 'body' placeholder="Input Description"required></textarea>
        </div>
        <div class="form-group">
            <label>AUTHOR</label>
            <input type="text" class="form-control" name = 'author' placeholder="Input Author"required>
            <small class="form-text text-muted">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </small>
        </div>
        <div class="form-group">
            <input class="btn btn-warning btn-lg btn-block" type="submit" value="작성완료">
        </div>
        <div class="form-group">
            <a class="btn btn-warning btn-lg btn-block" href="/articles"> 돌아가기</a>
            
        </div>

    </form>
    </div>
        </div>
    

{% endblock %}
