{% extends "layouts.html" %}
{% block body %}

<div class="card">
    <div class="card-header">
      <h4><i class="fas fa-user mr-1"></i>작성자 : {{data[3]}}</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-book mr-1"></i>제목 : {{data[1]}}</h5>
      <h5><p class="card-text">내용</h5> {{data[2]}}</p>
      <a href="/articles" class="btn btn-primary">Back</a>
      <a href="/article/{{data[0]}}/edit_article" button type="button" class="btn btn-danger">Edit</button></a>
    </div>
  </div>

  {% endblock %}